@model MobileStore.Models.Manufacturer
           
@{
    ViewBag.Title = String.Format("{0} | Производители | {1}", Model.Name, MobileStore.Constants.Title);
}

<h2>Производители</h2>

<p>@Html.ActionLink("Редактировать", "Edit", new { id = Model.ID })
&nbsp;&nbsp;&nbsp;@Html.ActionLink("Удалить", "Delete", new { id = Model.ID })</p>

<h2>@Model.Name</h2>
<p>@Model.Description</p>

